{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

<style>
.leaflet-container-default {
    min-height: 700px;
}
</style>
{% block content %}

    <script type="text/javascript">
      var collection = {{ qs_results|geojsonfeature:"popupContent"|safe }};

      function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.popupContent) {
          layer.bindPopup(feature.properties.popupContent);
        }
      }

      function map_init(map, options) {
        L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);
        map.setView([53.5, -5.5], 7)
        map.height($(window).height()).width($(window).width());

      }
    </script>

    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}
