{% load static %}
<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About us</title>
		<link rel="icon" href="{% static 'images/favicon.ico'%}">
		<!-- JqueryUI -->
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
		<!-- Awesome font icons -->
		<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" media="screen">
		<!-- Owlcoursel -->
		<link rel="stylesheet" type="text/css" href="{% static "css/owl-coursel/owl.carousel.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/owl-coursel/owl.transitions.css" %}">
		<!-- Magnific-popup -->
		<link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup/magnific-popup.css" %}">
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen">
		<!-- Fw -->
		<link rel="stylesheet" type="text/css" href="{% static "css/fw.css" %}" media="screen">
	</head>
	<body>
		<div class="preloader">
			<i class="fa fa-spinner"></i>
		</div>
		{% include "website_header.html" %}
		<!-- Breadcrumd -->
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home m-r-5"></i>Home</a></li>
				<li>About us</li>
			</ul>
		</div>
		<!-- About -->
		<section class="m-t-0">
			<div class="container">
				<div class="thumb p-30">  
					<div class="row">
						<div class="col-sm-7">	
							<h3 class="title">Delivery Information</h3>
							<p>For whole Yerevan shipping cost is {{delivery.yerevan}}֏</p>
							<p>For whole Armenia shipping maximum cost is {{delivery.county}}֏</p>
							<p>Buy from our suggested shops to not pay more</p>
						</div>
						<div class="col-sm-5">	
							<img src="{% static "images/woodenLego Logo.png" %}" title="iPhone" alt="iPhone">
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include "website_process.html" %}
		<!-- Footer -->
		{% include "website_footer.html" %}
		<!-- jQuery -->
		<script src="{% static "js/jquery/jquery-2.2.4.min.js" %}"></script>
		<!-- JqueryUI -->
		<script src="{% static "js/jquery/jquery-ui.js" %}"></script>
		<!-- Bootstrap -->
		<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
		<!-- Owl-coursel -->
		<script src="{% static "js/owl-coursel/owl.carousel.js" %}"></script>
		<!-- Magnific-popup -->
		<script src="{% static "js/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
		<!-- Script -->
		<script src="{% static "js/script.js" %}"></script>
	</body>
</html>