{% load static %}
<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Register</title>
		<link rel="icon" href="{% static 'images/favicon.ico'%}">
		<!-- JqueryUI -->
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
		<!-- Awesome font icons -->
		<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" media="screen">
		<!-- Owlcoursel -->
		<link rel="stylesheet" type="text/css" href="{% static "css/owl-coursel/owl.carousel.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/owl-coursel/owl.transitions.css" %}">
		<!-- Magnific-popup -->
		<link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup/magnific-popup.css" %}">
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen">
		<!-- Fw -->
		<link rel="stylesheet" type="text/css" href="{% static "css/fw.css" %}" media="screen">
	</head>
	<body>
		<div class="preloader">
			<i class="fa fa-spinner"></i>
		</div>
		{% include "website_header.html" %}
		<!-- breadcrumb -->
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home m-r-5"></i>Home</a></li>
				<li>Register</li>
			</ul>
		</div>
		<!-- Register -->
		<section class="m-t-0">
			<div class="container">
				<div class="thumb p-30">          
					<div id="content">      
						<h3 class="title">New user register</h3>
						<p>If you already have an account with us, please login at the <a href="#" class="color-2">login page</a>.</p>
						<form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
							{% csrf_token %}
							<fieldset id="account">
								<legend>Your Personal Details</legend>


								<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-username">User Name</label>
										<div class="col-sm-10">
											<input type="text" name="username" value="" placeholder="User Name" id="input-username" class="form-control form-item">
											{% for error in form.errors.username %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
								<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-firstname">First Name</label>
										<div class="col-sm-10">
											<input type="text" name="first_name" value="" placeholder="First Name" id="input-firstname" class="form-control form-item">
											{% for error in form.errors.first_name %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
										<div class="col-sm-10">
											<input type="text" name="last_name" value="" placeholder="Last Name" id="input-lastname" class="form-control form-item">
											{% for error in form.errors.last_name %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-email">E-Mail</label>
										<div class="col-sm-10">
											<input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control form-item">
											{% for error in form.errors.email %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
										<div class="col-sm-10">
											<input type="tel" name="telephone" value="" placeholder="Telephone" id="input-telephone" class="form-control form-item">
											{% for error in form.errors.telephone %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
								</fieldset>



								<fieldset>
									<legend>Your Password</legend>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-password">Password</label>
										<div class="col-sm-10">
											<input type="password" name="password1" value="" placeholder="Password" id="input-password" class="form-control form-item">
											{% for error in form.errors.password1 %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
										<div class="col-sm-10">
											<input type="password" name="password2" value="" placeholder="Password Confirm" id="input-confirm" class="form-control form-item">
											{% for error in form.errors.password2 %}
          										<p style="color: red">{{ error }}</p>
        									{% endfor %}
										</div>
									</div>
									<!--form-group-->
								</fieldset>




							<fieldset>
							<legend>Newsletter</legend>
								<!--form-group-->
								<div class="form-group">
									<label class="col-sm-2 control-label">Subscribe</label>
									<div class="col-sm-10">
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="1">
											Yes
										</label>
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="0" checked="checked">
											No
										</label>
										{% for error in form.errors.newsletter %}
          										<p style="color: red">{{ error }}</p>
										{% endfor %}

									</div>
								</div>
							</fieldset>







							<div class="buttons">
								<div class=""> 
									<input type="checkbox" name="agree" class="m-r-10" value="1"> I have read and agree to the 
									<a href="#" class="agree"><b>Privacy Policy</b></a>
									<br/>
									{% for error in form.errors.agree %}
          										<p style="color: red">{{ error }}</p>
									{% endfor %}
									<button type="submit" class="btn ht-btn bg-3 m-t-30">Register</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- Process -->
		{% include "website_process.html" %}
		<!-- Footer -->
		{% include "website_footer.html" %}
		<!-- jQuery -->
		{% include "website_js.html" %}
	</body>
</html>