{% load static %}
		<header>
			<div class="container">
				<div class="row m-t-15">
				<div class="col-sm-2 col-md-4 hidden-xs">
						<div class="cloud-3"></div>
					</div>
					<div class="col-sm-4 col-md-3">
						<div class="search-box">
							<input type="text" class="search-txt form-item" placeholder="Search...">
							<button type="button" class="saerch-btn"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 ">
						<ul class="list-inline pull-right m-t-15">
							{% if user.is_authenticated %}
								<li><a href="{% url 'wishes'%}">Wishlist</a></li>
							{%endif%}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">
									{% if user.is_authenticated %}
										Hi
										{{ user.username }}
									{%else%}
										My Account
									{%endif%}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									{% if user.is_authenticated %}
										<li><a href="{% url 'orders' %}">My Orders</a></li>
										<li><a href="{% url 'cart:cart_detail' %}">My Cart</a></li>
										<li><a href="{% url 'logout' %}?next={% url 'wlwebsite:home' %}">Log out</a></li>
									{% else %}
										<li><a href="{% url 'login' %}">Login</a></li>
										<li><a href="{% url 'register' %}">Register</a></li>
									{% endif %}


								</ul>
							</li>
						</ul>
					</div>
				</div>



				{% if user.is_authenticated %}
					<div class="cart dropdown">
						<a href="#" class="cart-item dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>{{cart|length}}</span><i class="fa fa-cart-plus"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							{% with total_items=cart|length %}
								{% for item in cart %}
									{% with product=item.product %}
										<li>
											<div class="media">
												<div class="media-left">
													<a href="{{ request.scheme }}://{{ request.get_host }}/products/{{product.id}}">
													  <img class="media-object" src="/{{product.mainimage.url}}" width="50" alt="{{product.header}}">
													</a>
												</div>
												<div class="media-body">
													<h4 class="product-name">{{product.model}}</h4>
													<p>{{product.price}}<span> x {{item.quantity}}</span> </p>
												</div>
											</div>
										</li>
									{% endwith%}
								{% endfor %}


								<li class="table-div">
									<ul class="table-content">
										<li class="row m-0">
											<div class="col col-xs-6">
												<strong>Sub-Total:</strong>
											</div>
											<div class="col col-xs-6">
												֏{{cart.get_total_price}}
											</div>
										</li>
										<li class="row m-0">
											<div class="col col-xs-6">
												<strong>Ship:</strong>
											</div>
											<div class="col col-xs-6">
												֏{{cart.get_shipping_price}}
											</div>
										</li>
										<!---
										<li class="row m-0">
											<div class="col col-xs-6">
												<strong>VAT (20%):</strong>
											</div>
											<div class="col col-xs-6">
												$60.00
											</div>
										</li>
										-->
										<li class="row m-0">
											<div class="col col-xs-6">
												<strong>Total:</strong>
											</div>
											<div class="col col-xs-6 color-3 f-bold">
												֏{{cart.get_with_shipping_price}}
											</div>
										</li>
									</ul>
								</li>
								<li>
							{% endwith%}

								<p>
									<a href="{% url 'orders:order_create' %}" class="btn ht-btn bg-3">Checkout</a>
									<a href="{% url 'cart:cart_detail' %}" class="btn ht-btn bg-7">Cart</a>
								</p>
							</li>
						</ul>
					</div>
				{%endif%}







				<div class="row">
					<div class="col-sm-12 col-md-4">
						<!-- Logo -->
						<a href="{% url 'wlwebsite:home' %}" class="logo">
							<img src="{% static "images/lego2.png" %}" alt="logo">
						</a>
					</div>
					<div class="col-sm-12 col-md-8">
						<!-- Menu -->
						<div class="main-menu">
							<nav class="navbar navbar-default menu">
								<div class="container-fluid p-0">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Lorem ipsum dolor</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="collapse navbar-collapse p-0" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav pull-right m-r-40 m-r-sm-0 m-r-xs-0"> 
											<li>
												<a href="{% url 'wlwebsite:home' %}"  role="button" aria-haspopup="true" aria-expanded="false">Home</a>
											</li>
											<li><a href="{% url 'wlwebsite:about' %}">About us</a></li>
											<li>
												<a href="{% url 'wlwebsite:products' %}"  role="button" aria-haspopup="true" aria-expanded="false">Toys</a>
											</li>
											<li>
												<a href="{% url 'wlwebsite:blogs' %}"  role="button" aria-haspopup="true" aria-expanded="false">Blogs & Events</a>
											</li>
											<li>
												<a href="{% url 'wlwebsite:contactus' %}"  role="button" aria-haspopup="true" aria-expanded="false">Contact Us</a>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>