{% load static %}
			<div class="m-t-60">
			<div class="container">
				<div class="brand">
					<div class="row">
						<div class="owl" data-items="6" data-itemsDesktop="5" data-itemsDesktopSmall="3" data-itemsTablet="2" data-itemsMobile="1" data-transitionstyle="backslide" data-singleItem="false" data-autoplay="true" data-pag="false" data-buttons="false">
							<div class="col-sm-12">
								<a href="#"><img src="{% static "images/log1.png" %}" %}" alt="image"></a>
							</div>
							<div class="col-sm-12">
								<a href="#"><img src="{% static "images/log2.png" %}" %}" alt="image"></a>
							</div>
							<div class="col-sm-12">
								<a href="#"><img src="{% static "images/log3.png" %}" %}" alt="image"></a>
							</div>
							<div class="col-sm-12">
								<a href="#"><img src="{% static "images/log4.png" %}" %}" alt="image"></a>
							</div>
							<div class="col-sm-12">
								<a href="#"><img src="{% static "images/log5.png" %}" %}" alt="image"></a>
							</div>
							<div class="col-sm-12">
								<a href="#"><img src="{% static "images/log6.png" %}" %}" alt="image"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		