{% load i18n %}
{% load static %}
		<!-- Process -->
		<section class="process">

				<div class="row m-l-r-5">
					<div class="col-sm-6 col-md-3 p-5">	
						<div class="media ht-media">
							<div class="media-left">
								<i class="fa fa-cogs color-3"></i>
							</div>
							<div class="media-body">
								<h5 class="media-heading color-3">{% blocktrans %}Designed for kids and adults also{% endblocktrans %}</h5>
									<p>{% blocktrans %}For kids to develop their imagination{% endblocktrans %}</p>
									<p>{% blocktrans %}For adults to play with their kids{% endblocktrans %}</p>
									<p>{% blocktrans %}For family to play with together{% endblocktrans %}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 p-5">	
						<div class="media ht-media">
							<div class="media-left">
								<i class="fa fa-send color-7"></i>
							</div>
							<div class="media-body">
								<h5 class="media-heading color-7">{% blocktrans %}Low Shipping Cost{% endblocktrans %}</h5>
									<p>{% blocktrans %}Around Yerevan shipping cost is{% endblocktrans %} {{delivery.yerevan}}֏</p>
									<p>{% blocktrans %}Around Armenia shipping maximum cost is{% endblocktrans %} {{delivery.county}}֏</p>
									<p>{% blocktrans %}Buy from our suggested shops to not pay more{% endblocktrans %}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 p-5">	
						<div class="media ht-media">
							<div class="media-left">
								<i class="fa fa-car color-4"></i>
							</div>
							<div class="media-body">
								<h5 class="media-heading color-4">100% {% blocktrans %}Monney Back{% endblocktrans %}</h5>
									<p>{% blocktrans %}If you find toy not interesting we will do money back.{% endblocktrans %}</p>
									<p>{% blocktrans %}If you find toy is broken we will do money back.{% endblocktrans %}</p>
									<p>{% blocktrans %}If you find toy heart your baby we will do money back.{% endblocktrans %}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 p-5">	
						<div class="media ht-media">
							<div class="media-left">
								<i class="fa fa-ship color-5"></i>
							</div>
							<div class="media-body">
								<h5 class="media-heading color-5">{% blocktrans %}The Benefits of our Toys{% endblocktrans %}</h5>
									<p>{% blocktrans %}Problem solving and learning cause and effect.{% endblocktrans %}</p>
									<p>{% blocktrans %}Development of fine and gross motor skills.{% endblocktrans %}</p>
									<p>{% blocktrans %}Nurturing their creativity and imagination.{% endblocktrans %}</p>
							</div>
						</div>
					</div>
				</div>

		</section>
