{% load static %}
<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Register</title>
		<link rel="icon" href="favicon.ico">
		<!-- JqueryUI -->
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
		<!-- Awesome font icons -->
		<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}" media="screen">
		<!-- Owlcoursel -->
		<link rel="stylesheet" type="text/css" href="{% static "css/owl-coursel/owl.carousel.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/owl-coursel/owl.transitions.css" %}">
		<!-- Magnific-popup -->
		<link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup/magnific-popup.css" %}">
		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen">
		<!-- Fw -->
		<link rel="stylesheet" type="text/css" href="{% static "css/fw.css" %}" media="screen">
	</head>
	<body>
		<div class="preloader">
			<i class="fa fa-spinner"></i>
		</div>
		{% include "website_header.html" %}
		<!-- breadcrumb -->
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home m-r-5"></i>Home</a></li>
				<li>Register</li>
			</ul>
		</div>
		<!-- Register -->
		<section class="m-t-0">
			<div class="container">
				<div class="thumb p-30">          
					<div id="content">      
						<h3 class="title">New user register</h3>
						<p>If you already have an account with us, please login at the <a href="#" class="color-2">login page</a>.</p>
						<form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
							{% csrf_token %}
							<fieldset id="account">
								<legend>Your Personal Details</legend>





								<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-username">User Name</label>
										<div class="col-sm-10">
											<input type="text" name="username" value="" placeholder="User Name" id="input-username" class="form-control form-item">
										</div>
									</div>
								<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-firstname">First Name</label>
										<div class="col-sm-10">
											<input type="text" name="firstname" value="" placeholder="First Name" id="input-firstname" class="form-control form-item">
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
										<div class="col-sm-10">
											<input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname" class="form-control form-item">
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-email">E-Mail</label>
										<div class="col-sm-10">
											<input type="email" name="email" value="" placeholder="E-Mail" id="input-email" class="form-control form-item">
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
										<div class="col-sm-10">
											<input type="tel" name="telephone" value="" placeholder="Telephone" id="input-telephone" class="form-control form-item">
										</div>
									</div>
								</fieldset>

								<!--
								<fieldset id="address">
									<legend>Your Address</legend>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-company">Company</label>
										<div class="col-sm-10">
											<input type="text" name="company" value="" placeholder="Company" id="input-company" class="form-control form-item">
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-address-1">Address 1</label>
										<div class="col-sm-10">
											<input type="text" name="address_1" value="" placeholder="Address 1" id="input-address-1" class="form-control form-item">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-address-2">Address 2</label>
										<div class="col-sm-10">
											<input type="text" name="address_2" value="" placeholder="Address 2" id="input-address-2" class="form-control form-item">
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-city">City</label>
										<div class="col-sm-10">
											<input type="text" name="city" value="" placeholder="City" id="input-city" class="form-control form-item">
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-postcode">Post Code</label>
										<div class="col-sm-10">
											<input type="text" name="postcode" value="" placeholder="Post Code" id="input-postcode" class="form-control form-item">
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-country">Country</label>
										<div class="col-sm-10">
											<select name="country_id" id="input-country" class="form-control form-item">
												<option value=""> --- Please Select --- </option>
												<option value="244">Aaland Islands</option>
												<option value="1">Afghanistan</option>
												<option value="2">Albania</option>
												<option value="3">Algeria</option>
												<option value="4">American Samoa</option>
												<option value="5">Andorra</option>
												<option value="6">Angola</option>
												<option value="7">Anguilla</option>
												<option value="8">Antarctica</option>
												<option value="9">Antigua and Barbuda</option>
												<option value="10">Argentina</option>
												<option value="11">Armenia</option>
												<option value="12">Aruba</option>
											</select> 
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-zone">Region / State</label>
										<div class="col-sm-10">
											<select name="zone_id" id="input-zone" class="form-control form-item">
												<option value=""> --- Please Select --- </option>
												<option value="3513">Aberdeen</option>
												<option value="3514">Aberdeenshire</option>
												<option value="3515">Anglesey</option>
												<option value="3516">Angus</option>
												<option value="3517">Argyll and Bute</option>
												<option value="3518">Bedfordshire</option>
												<option value="3519">Berkshire</option>
												<option value="3520">Blaenau Gwent</option>
												<option value="3521">Bridgend</option>
											</select>
										</div>
									</div>
								</fieldset>
								-->
								<fieldset>
									<legend>Your Password</legend>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-password">Password</label>
										<div class="col-sm-10">
											<input type="password" name="password1" value="" placeholder="Password" id="input-password" class="form-control form-item">
										</div>
									</div>
									<!--form-group-->
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
										<div class="col-sm-10">
											<input type="password" name="password2" value="" placeholder="Password Confirm" id="input-confirm" class="form-control form-item">
										</div>
									</div>
									<!--form-group-->
								</fieldset>




							<fieldset>
							<legend>Newsletter</legend>
								<!--form-group-->
								<div class="form-group">
									<label class="col-sm-2 control-label">Subscribe</label>
									<div class="col-sm-10">
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="1">
											Yes
										</label>
										<label class="radio-inline">
											<input type="radio" name="newsletter" value="0" checked="checked">
											No
										</label>
									</div>
								</div>
							</fieldset>







							<div class="buttons">
								<div class=""> 
									<input type="checkbox" name="agree" class="m-r-10" value="1"> I have read and agree to the 
									<a href="#" class="agree"><b>Privacy Policy</b></a>                       
									<br/>
									<button type="submit" class="btn ht-btn bg-3 m-t-30">Register</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- Process -->
		{% include "website_process.html" %}
		<!-- Footer -->
		{% include "website_footer.html" %}
		<!-- jQuery -->
		{% include "website_js.html" %}
	</body>
</html>